{% extends "base.html" %}

{% block content %}
<div class="content1">
    <div class="formulario">
        <h1>Sobre Nosotros</h1>
        <p>Somos una tienda en línea que busca brindarte la mejor experiencia de compra desde la comodidad de tu hogar. Nuestra misión es ofrecerte una amplia variedad de productos de alta calidad y facilitarte el proceso de selección y compra.</p>
        <p>En Tienda en Línea, entendemos la importancia de la comodidad y la eficiencia en tus compras diarias. Por eso, hemos creado esta plataforma para que puedas encontrar lo que necesitas de manera rápida y sencilla.</p>
        <p>Ya sea que busques abarrotes, productos frescos, productos de limpieza o cualquier otra cosa, estamos aquí para servirte. Nuestro compromiso es brindarte productos de calidad a precios competitivos y entregártelos directamente a tu puerta.</p>
        <p>Gracias por elegirnos como tu destino de compras en línea. ¡Esperamos que disfrutes de la experiencia y que nos visites nuevamente pronto!</p>
    </div>
</div>
{% endblock %}
